--index-url https://pypi.python.org/simple/

-e .
https://github.com/matplotlib/basemap/archive/master.zip    # pip install of basemap currently fails: https://github.com/matplotlib/basemap/issues/251
