{{=<< >>=}}  % Mustache bracket substitution

\documentclass[twoside]{article}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% LaTeX Packages
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\usepackage{geometry} % full page
\usepackage{fontspec} % provides font selecting commands
\usepackage{datetime} % format dates
\usepackage[table,cymk]{xcolor} % add color to tables and page background
\usepackage{booktabs} % nice book tables (needed for toprule, etc.)
\usepackage{pdflscape} % rotation of pdf paper (landscape mode)
\usepackage{longtable} % allows tables to span multiple pages

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% PDF Metadata
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\definecolor{darkcerulean}{rgb}{0.03, 0.27, 0.49}
\usepackage[pdfauthor={CISA Assessments team},
            pdftitle={Cyber Hygiene Notification for <<&owner_acronym>>},
            pdfsubject={Notification},
            pdfkeywords={cyhy, cyber, hygiene, security, assessments, notification, cisa, ncats, <<&owner_acronym>>},
            pdfcreator={XeTeX with hyperref},
			      colorlinks=true, linkcolor=black, urlcolor=darkcerulean]{hyperref}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% URL and Link Setup
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\usepackage{url}  % support for in-document urls

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% Geometry Setup
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\geometry{
  top=0.75in,
  inner=0.3in,
  outer=0.3in,
  bottom=0.75in,
  headheight=3ex,
  headsep=2ex,
}
%\geometry{showframe=true}   % useful for debugging

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% Header/Footer Setup
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\usepackage{fancyhdr}
\pagestyle{fancy}
\fancyhead{}
\fancyfoot{}
\fancyhead[CO]{FOR OFFICIAL USE ONLY (FOUO)}
\fancyfoot[CO]{FOR OFFICIAL USE ONLY (FOUO)}
\newfontfamily{\FranklinGothicDemiFont}{Franklin Gothic Demi}
\newcommand\TLPFont{\FranklinGothicDemiFont\fontsize{11pt}{11pt}\selectfont}
\definecolor{tlp-amber}{cmyk}{0.0,0.25,1.0,0.0}
\fancyhead[RO]{\colorbox{black}{\textcolor{tlp-amber}{\TLPFont{TLP:AMBER}}}}
\fancyfoot[RO]{\colorbox{black}{\textcolor{tlp-amber}{\TLPFont{TLP:AMBER}}}}
\renewcommand{\headrulewidth}{0.0pt}
\renewcommand{\footrulewidth}{0.0pt}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% Draft Watermark
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
<<#draft>>
\usepackage{draftwatermark}
\SetWatermarkLightness{0.9}
\SetWatermarkText{DRAFT}
<</draft>>

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% Date Format Setup
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\newdateformat{usvardate}{\monthname[\THEMONTH] \THEDAY, \THEYEAR}
\newdateformat{isodate}{\THEYEAR-\twodigit{\THEMONTH}-\twodigit{\THEDAY}}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% Color Setup
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% Primary Palette
\definecolor{cisa-blue}{cmyk}{1.0,0.45,0.0,0.37}
\definecolor{cisa-light-blue}{cmyk}{1.0,0.16,0.0,0.27}
\definecolor{cisa-gray}{cmyk}{0.0,0.0,0.0,0.28}
\definecolor{cisa-dark-gray}{cmyk}{0.0,0.0,0.0,0.79}
\definecolor{cisa-blue-gray}{cmyk}{0.77,0.51,0.34,0.25}
\definecolor{cisa-white}{cmyk}{0.0,0.0,0.0,0.0}
%%% Support Palette
\definecolor{cisa-red}{cmyk}{0.0,1.0,0.79,0.20}
\definecolor{cisa-green}{cmyk}{0.56,0.0,1.0,0.27}
%%% Table Colors
\definecolor{row-gray}{cmyk}{0.0,0.0,0.0,0.15}
%%% TLP Colors - see https://www.us-cert.gov/tlp
\definecolor{tlp-red}{cmyk}{0.0,1.0,0.79,0.0}
\definecolor{tlp-amber}{cmyk}{0.0,0.25,1.0,0.0}
\definecolor{tlp-green}{cmyk}{0.79,0.0,1.0,0.0}
\definecolor{tlp-white}{cmyk}{0.0,0.0,0.0,0.0}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% Attachments Setup
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\usepackage{attachfile2} % enable attachments to pdfs generated by xelatex
\attachfilesetup{color = cisa-blue}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% Font Setup
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\defaultfontfeatures{Scale=MatchLowercase}
\setmainfont[Mapping=tex-text]{Arial}

% CISA Standard Fonts
\newfontfamily{\FranklinGothicMediumFont}{Franklin Gothic Medium}
\newcommand\CISACoverTitle{\FranklinGothicMediumFont\fontsize{24pt}{24pt}\selectfont}
\newcommand\CISATitle{\FranklinGothicMediumFont\fontsize{16pt}{16pt}\selectfont}
\newcommand\CISAHeadingOne{\FranklinGothicMediumFont\fontsize{16pt}{16pt}\selectfont}
\newcommand\CISAHeadingTwo{\FranklinGothicMediumFont\fontsize{14pt}{14pt}\selectfont}
\newcommand\CISAHeadingThree{\FranklinGothicMediumFont\fontsize{13pt}{13pt}\slshape\selectfont}	% \slshape gives italics (slanted type)
\newcommand\CISAHeadingFour{\FranklinGothicMediumFont\fontsize{11pt}{11pt}\slshape\selectfont}
\newcommand\CISACaption{\FranklinGothicMediumFont\fontsize{11pt}{11pt}\slshape\selectfont}
\newfontfamily{\FranklinGothicBookFont}{Franklin Gothic Book}
\newcommand\CISATitleCoverNumberDate{\FranklinGothicBookFont\fontsize{10pt}{10pt}\selectfont}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% Graphics Setup
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\DeclareGraphicsExtensions{.pdf, .jpg, .tif, .png}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% Paragraph Setup
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% By default the first paragraph of a section is not indented but the remainder are.
% in this document we want more uniformity.
% so we could indent the first paragraph using the following line:
%\usepackage{indentfirst}
% or we could supress all paragraph indentations and add a line between paragraphs
\setlength{\parindent}{0pt}
\addtolength{\parskip}{\baselineskip}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%% Content Start
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\begin{document}

\vspace*{1.0mm}
{\textcolor{cisa-blue}{\CISAHeadingTwo{<<&owner_acronym>> - Cyber Hygiene Alert - New Critical/High Vulnerabilities Detected - \usvardate\formatdate<<&notification_date_tex>>}}}

Cyber Hygiene scans conducted in the past day indicate potential new critical and/or high vulnerabilities.

As part of \href{https://cyber.dhs.gov/bod/19-02/}{\underline{BOD 19-02}}, critical-severity findings need to be remediated within <<&days_until_criticals_overdue>> days and high-severity findings remediated within <<&days_until_highs_overdue>> days.

\rowcolors{3}{white}{row-gray}
\begin{longtable}{<<#display_owner>>p{0.7in}<</display_owner>>p{2.75in}rrrrr}
	\toprule
	<<#display_owner>>Owner & <</display_owner>>Vulnerability & Severity & Host & Port & Initial Detection & Latest Detection \\
	<<#display_owner>> &  <</display_owner>>                  &          &      &      &             (UTC) &            (UTC) \\
	\midrule \endhead
	<<#tickets>><<#display_owner>><<&owner>> & <</display_owner>><<&name>> & <<&severity>> & <<&ip>> & <<&port>> & \isodate\formatdate<<&time_opened_date_tex>> \  \formattime<<&time_opened_time_tex>> & \isodate\formatdate<<&last_detected_date_tex>> \ \formattime<<&last_detected_time_tex>> \\
	<</tickets>>
	\bottomrule
\end{longtable}

Vulnerability details are attached; if your viewer supports embedded attachments you will see a paperclip icon below.

\attachfile[appearance=false,mimetype=text/csv,icon=Paperclip,ucfilespec=findings.csv]{findings.csv} \textit{findings.csv} - Detailed list of all new critical and high vulnerability findings from the past day, in CSV (comma-separated values) format.

If you have any questions, please contact our office: \href{mailto:ncats@hq.dhs.gov}{\underline{ncats@hq.dhs.gov}}

\includegraphics[height=1.0in]{assets/cisa-logo}  % CISA logo

\end{document}
